<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nfc.secondhandshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".Acticity.OrderPlaceActivity"></activity>
        <activity android:name=".Acticity.OrdersListActivity" />
        <activity android:name=".Acticity.StoresListActivity" />
        <activity android:name=".Acticity.GoodsListActivity" />
        <activity android:name=".Acticity.GoodRegisterActivity" />
        <activity android:name=".Acticity.StoreRegisterActivity" />
        <activity android:name=".Acticity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>